@charset "utf-8";
/* CSS Document */

.info1 {
    background: rgba(31, 51, 64, 0.8) none repeat scroll 0 0 padding-box;
    border-radius: 4px;
    color: #fff;
    margin-bottom: 60px;
    margin-top: 60px;
    padding: 30px;
}